body {
    font-family: Helvetica;
    text-align: center;
}

#banner, a, #design h3, footer {
    color: white;
}

h1, h2, h3, #design h3 {
    font-weight: bold;
}

#banner, #design h3 {
    background-image: url("../images/the-flatiron-building.png");
}

h1 {
    font-size: 70px;
}

a {
    font-size: 18px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 14px;
}

#design h3 {
    font-size: 23px;
}

footer {
    text-align: left;
    font-size: 11px;
    background-color: dimgray;
}